html div{
    background-color: #ECFFFC;
}

.feeds{
    overflow: hidden !important;
    overflow-y: scroll !important;
    max-height: 300px !important;
    padding: 10px;
    border: 1px black solid !important;
    background-color: white !important;
}
.card-body{
    background-color: white !important;
}
.article img{
    width: 200px !important;
    float: left;
    margin-right: 5px;
    
    
}
.article{
    text-align: justify;
    background-color: white !important;
}
.article *{
    background-color: white !important;
}
#banner{
    width: 90%;
    border: 1px black solid !important;
}
.main{
    margin: auto 10px !important;
    padding: 20px !important;
    
}